<!DOCTYPE html>
<html lang="en">

<head>
    <meta type="Author" value="Prakash Halwai">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prakash Portfolio</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header class="header">
        <a href="#" class="logo"> Portfolio</a>
        <i class='bx bx-menu' id="menu-icon"></i>
        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">About</a>
            <a href="#service">Service</a>
            <a href="#portfolio">Portfolio</a>
            <a href="#skills">Skills</a>
            <a href="contactus.html">Contact</a>
        </nav>
    </header>
    <!-- home section design -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, It's Me</h3>
            <h1>Prakash Halwai</h1>
            <h3>And I'm a <span class="multipletext"></span></h3>
            <p>I'm not a Programmer. I'm a Coder || Diploma in Computer Science And Technology At Technique Polytechnic
                Institute || Mern Stack Developer.</p>
            <div class="social-media">
                <a href="https://www.instagram.com/?hl=en" target="_blank"><i class='bx bxl-instagram'></i></a>
                <a href="https://www.facebook.com/prajakta.roy.5" target="_blank"><i class='bx bxl-facebook'></i></a>
                <a href="https://twitter.com/Prakash_CS_16" target="_blank"><i class='bx bxl-twitter'></i></a>
                <a href="https://www.linkedin.com/in/prakash-halwai-280ba9233/" target="_blank"><i
                        class='bx bxl-linkedin'></i></a>
                <a href="https://github.com/Prakash20162002" target="_blank"><i class='bx bxl-github'></i></a>
            </div>
            <a href="#" class="btn">Download CV</a>
        </div>
        <div class="home-img">
            <img src="Image/Picsart_23-05-21_00-34-19-897.jpg" alt="">
        </div>
    </section>
    <!-- About section -->
    <section class="about" id="about">

        <div class="about-img">
            <img src="Image/Picsart_23-05-21_00-34-19-897.jpg" alt="">
        </div>
        <div class="about-content">
            <h2 class="heading">About <span>Me</span></h2>
            <h3>Mern Stack Developer!</h3>
            <p>I'm a computer science and technology Student at college of Hooghly, Technique polytechnic institute. I
                love to explore the possibilities of connecting people through technology.

                —

                Computer science + tech = a happy world. I design, create and teach with technology to make the world a
                better place.

                —

                I want to be a best learner in an Mern stack developer... and made my self a best coder with my skills.
                _

                Also I do internship on PC maintanence and and computer networking.
                And also do internship on Cisco Cybersecurity.

                _
                Now I am working on minor software projects like Scientific Calculator and Music Player by Using Python
                GUI (Graphic user interface).
                _

                Thanks to check my About🤍.</p>
            <a href="#" class="btn">Read More</a>
        </div>
    </section>


    <!-- service design  -->

    <section class="service" id="service">
        <h2 class="heading">Our <span>Service</span></h2>
        <div class="services-container">
            <div class="services-box">
                <i class='bx bx-code-alt'></i>
                <h3>Web Development </h3>
                <p>Aspiring web developer passionate about creating user-friendly websites. Constantly learning and
                    exploring new technologies to enhance the digital experience. Committed to delivering clean,
                    functional,
                    and visually appealing designs.</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bx-photo-album'></i>
                <h3>Photo Editing</h3>
                <p>Aspiring photo editor | Beginner | Passionate about enhancing visuals with creative editing
                    techniques | Committed to learning and mastering new tools | Dedicated to delivering captivating and
                    polished images.</p>
                <a href="#" class="btn">Read More</a>
            </div>
            <div class="services-box">
                <i class='bx bx-video'></i>
                <h3>Video Editing</h3>
                <p>Aspiring video editor | Beginner | Enthusiastic about storytelling through visuals | Eager to learn
                    and develop new editing skills | Dedicated to crafting engaging and impactful videos.</p>
                <a href="#" class="btn">Read More</a>
            </div>
        </div>
    </section>
    <!-- Portfolio design -->
    <section class="portfolio" id="portfolio">
        <h2 class="heading">Letest <span>Project</span></h2>
        <div class="portfolio-container">
            <div class="portfolio-box">
                <img src="Image/Screenshot 2023-06-14 225334.png" alt="">
                <div class="portfolio-layer">
                    <h4>Login Form</h4>
                    <p>Securely access hospital management system with streamlined login form for efficient
                        administration and patient care</p>
                    <a href="https://prakash20162002.github.io/Login-Page/" target="_blank"><i
                            class='bx bx-link'></i></a>
                </div>


            </div>
            <div class="portfolio-box">
                <img src="Image/Screenshot 2023-06-14 225425.png" alt="">
                <div class="portfolio-layer">
                    <h4>Digital Clock</h4>
                    <p>Create a sleek digital clock with HTML, CSS, and JavaScript to display accurate time and enhance
                        your website's functionality</p>
                    <a href="https://prakash20162002.github.io/Digital-Clock/" target="_blank"><i
                            class='bx bx-link'></i></a>
                </div>


            </div>
            <div class="portfolio-box">
                <img src="Image/Screenshot 2023-06-14 225448.png" alt="" class="stopwatch">
                <div class="portfolio-layer">
                    <h4>Stop Watch</h4>
                    <p>The is a stopwatch. It displays time in HH:MM:SS format,
                        with buttons for Start, Stop, and Reset functionality.The report summarizes</p>
                    <a href="https://prakash20162002.github.io/Stopwatch-Mini-Project/" target="_blank"><i
                            class='bx bx-link'></i></a>
                </div>


            </div>
            <div class="portfolio-box">
                <img src="Image/Screenshot 2023-06-14 225517.png" alt="">
                <div class="portfolio-layer">
                    <h4>Calculator</h4>
                    <p>The calculator is built using HTML, CSS, and JavaScript. It provides basic arithmetic operations,
                        a clear button.</p>
                    <a href=" https://prakash20162002.github.io/Calculator-Mini-Project/" target="_blank"><i
                            class='bx bx-link'></i></a>
                </div>


            </div>
            <div class="portfolio-box">
                <img src="Image/Screenshot 2023-06-14 225606.png" alt="">
                <div class="portfolio-layer">
                    <h4>Amazing Tour</h4>
                    <p>The Amazing World Tour Places website is an interactive platform It showcases breathtaking
                        destinations worldwide.</p>
                    <a href="https://prakash20162002.github.io/Amazing_World-Tourism/" target="_blank"><i
                            class='bx bx-link'></i></a>
                </div>


            </div>
            <div class="portfolio-box">
                <img src="Image/Screenshot 2023-06-14 225606.png" alt="">
                <div class="portfolio-layer">
                    <h4>Amazing Tour </h4>
                    <p>The Amazing World Tour Places website is an interactive platform.It showcases breathtaking
                        destinations worldwide.
                    </p>
                    <a href="https://prakash20162002.github.io/Amazing_World-Tourism/" target="_blank"><i
                            class='bx bx-link'></i></a>
                </div>
            </div>
        </div>

        <!-- skills design -->
        <section class="skills" id="skills">
            <div class="main-text">
                <h2 class="heading"><span>Technical And Professional</span> </h2>
                <h2>My Skills</h2>
            </div>
            <div class="skills-main">

                <div class="skiils-left">
                    <h3>Technical Skills</h3>
                    <div class="skills-bar">
                        <div class="info">
                            <p>HTML</p>
                            <p>90%</p>
                        </div>
                        <div class="bar">
                            <span class="html"></span>
                        </div>
                    </div>
                    <div class="skills-bar">
                        <div class="info">
                            <p>CSS</p>
                            <p>80%</p>
                        </div>
                        <div class="bar">
                            <span class="css"></span>
                        </div>
                    </div>
                    <div class="skills-bar">
                        <div class="info">
                            <p>JAVA SCRIPT</p>
                            <p>65%</p>
                        </div>
                        <div class="bar">
                            <span class="JavaScript"></span>
                        </div>
                    </div>
                    <div class="skills-bar">
                        <div class="info">
                            <p>NODE JS</p>
                            <p>60%</p>
                        </div>
                        <div class="bar">
                            <span class="nodejs"></span>
                        </div>
                    </div>
                    <div class="skills-bar">
                        <div class="info">
                            <p>MONGODB</p>
                            <p>70%</p>
                        </div>
                        <div class="bar">
                            <span class="MONGODB"></span>
                        </div>
                    </div>



                </div>
                <div class="skiils-right">
                    <h3>Professional Skills</h3>
                    <div class="pofessional">
                        <div class="box">
                            <div class="circle">
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                            </div>
                            <div class="text">
                                <big>90%</big>
                                <small>Team Work</small>
                            </div>
                        </div>
                        <div class="box">
                            <div class="circle">
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                            </div>
                            <div class="text">
                                <big>90%</big>
                                <small>Team Work</small>
                            </div>
                        </div>
                        <div class="box">
                            <div class="circle">
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                            </div>
                            <div class="text">
                                <big>90%</big>
                                <small>Team Work</small>
                            </div>
                        </div>
                        <div class="box">
                            <div class="circle">
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                            </div>
                            <div class="text">
                                <big>90%</big>
                                <small>Team Work</small>
                            </div>
                        </div>
                        <div class="box">
                            <div class="circle">
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                                <div class="pointer" style="--i:1"></div>
                            </div>
                            <div class="text">
                                <big>90%</big>
                                <small>Team Work</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <!--footer start-->
    <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Prakash Halwai | All Right Reserved.</p>
        </div>
        <div class="footer-icon">
            <a href="#home"><i class='bx bx-up-arrow-alt'></i></a>
        </div>
    </footer>


    <!-- scroll reveal -->
    <script src="https://unpkg.com/scrollreveal"></script>


    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

    <script>
        var typed = new Typed('.multipletext', {
            strings: ['Computer Science Engineering Student', 'Web Developer', 'Photo Editor', 'Video Editor'],
            typeSpeed: 50,
            backSpeed: 100,
            backDelay: 1000,
            loop: true
        });
    </script>
</body>
<script src="portfolio.js"></script>

</html>